html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.hidden {
  display: none;
}

body{
  background-color: black;
  background-image: url("https://pbs.twimg.com/media/EXS5vYBXkAEF-8T.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display:grid;
  width:100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  
  animation-name: animate;
  animation-direction: normal ;
  animation-play-state: running;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 0.5;
  animation-delay: 37s;
}

.container{
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interaction{
  width: 80%;
  height:75%;
  background:black;
  display:grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 75% 15%;
  background: rgba(0, 0, 0, .7);
}

.context{
  color: white;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:40px;
}

.yas-context{
  color: white;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:40px;
}

.yas-container{
  grid-column: 2/3;
  grid-row: 2/3;
}

.yone-container{
  grid-column: 2/3;
  grid-row: 3/4;
  display:flex;
  justify-content: center;
}

.yas-pic{
  background: transparent;
  width:10px;
  height:5px;
  background-image: url("https://lh3.googleusercontent.com/8oILn_0QrWAyvp0-OIISQonLLn8tpTiLtREuuH4h9ihtabzDhC-Ev06HVkjF05kPBBw3vGn58osoC24Ohjtvdu5DNtjdcsO_teIcdshcl8CkK2uLp9Fnd09x8-CzGyMVWN3xa4aUMQ=w2400");
  background-repeat: no-repeat;
  background-size: 20% 50%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(340);
  position: relative;
  left: 500px;
  top: 150px;
}

.yone-pic{
  background: transparent;
  width:10px;
  height:5px;
  background-image: url("https://lh3.googleusercontent.com/5lwV2I-4EakDB5tGXZk-SWdVBfMT9VUbwzuSOrZumk84sCv2k1Fw1W4VW32GkZhGsSzA1yV2YqxoPSqoziyoVQwnk6MYeInvwEtLeyRjUxJ5uvZAdFUQ7op0ZaRCSgtTybvpjjyxmQ=w2400");
  background-repeat: no-repeat;
  background-size: 20% 50%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(350);
  position: relative;
  left:500px;
  bottom: 400px
  
}

.choices{
  grid-column: 2/3;
  grid-row: 2/3;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#yes{
  margin-bottom: 60px;
  font-size:40px;
  height:60px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 1);
  border: 2px solid;
  border-color: white;
  color: white
}

#no{
  font-size:40px;
  height:60px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid;
  border-color: white;
  background: rgba(0, 0, 0, 1);
  color: white
}















@keyframes animate {
  0%{
    background-image: url("https://pbs.twimg.com/media/EXS5vYBXkAEF-8T.jpg")
  }
  50%{
    background-image: url("https://i.pinimg.com/originals/b9/e0/17/b9e017a320ecfed639ca4daefa10aadc.jpg");
  }
}