html, body {
  height: 100%;
  width: 100%;
}

.space{
  background: black;
}

.hidden {
  display: none;
}

.is-centered{
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* amongus background */
/* .amongusBckg {
  background-image: url(amongus.svg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.wiresPanel {
  background-image: url(wiresPanel.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Space CSS */
/* Typing letters first screen */
.wrapper {
  text-align: center;
}

#button{
  position: relative;
  right:90px
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 1px;
  font-size: 30px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: #636363;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #636363; 
	}
}

/*_________________________________________________________________________________________________________________ */
/* button positioning */
.button:focus:not(:active) {
  box-shadow: none;
}

.puzzle-container{
  display:grid;
  width:100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  position: fixed;
}

#scan-button{
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scanID{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  position: fixed;
}

#scanButton{
/*   width: fit-content;
  height: fit-content; */
  background-color: transparent;
  background-image: url(scanning.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(6);
}

#scanButton::after{
   border: none;
}

#swipe-button{
  grid-column: 2/3;
  grid-row: 3/3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#swipeButton{
/*   width: fit-content;
  height: fit-content; */
  background-color: transparent;
  background-image: url(admin.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
/*   background-attachment: fixed; */
  border: none;
  transform: scale(9);
  position: absolute;
  top:100px;
  left:500px 
}

#wires-button{
  grid-column: 3/3;
  grid-row: 2/3;
  display: flex;
  justify-content: right;
  align-items: center;
}

#wiresButton{
    height: 35%;
    background-color: transparent;
    background-image: url(wires.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    transform: scale(1.5);
    border: none;
    padding: 0;
  right: 15%;
  top: 40%;
}


/*___________________________________________________________________________________________________________*/


/* scan progress bar */
#scan {
  position:relative;
}

.scan-container{
  grid-column:2/3;
  grid-row:1/2;
  display:flex; 
  justify-content: center;
  align-items: center;
}

.scanning{
  position: relative;
  width: 40em;
  height: 3.5em;
  background:gray;
  border-radius: 2em;
  color:white;
}

.scanning::before{
  content: attr(data-label);
  display:flex;
  align-items: center;
  position: absolute;
  left: 0.7em;
  top: 0.5em;
  bottom: .5em;
  width: calc(var(--width,0)*1%);
  min-width: 1em;
  max-width: calc(100% - 1.2em);
  background: tomato;
  border-radius: 1.8em;
  padding:1em;
}


.id{
  grid-column:2/3;
  grid-row:1/2;
  display:flex; 
  justify-content: center;
  align-items: center;
}

/* Wires Task */
.wirePanel{
  grid-column:2/3;
  grid-row:1/2;
  display:flex; 
  justify-content: center;
  align-items: center;
}


.light {
    opacity: 0;
}

.drag {
    fill: white;
    opacity: 0;
}

.line {
    stroke-width: 18px;
    pointer-events: none;
}

.line-back {
    stroke-width: 30px;
    pointer-events: none;
}

.line-1 {
    stroke: #324d9c;
}

.line-1.line-back {
    stroke: #25378d;
}

.line-2 {
    stroke: #e52320;
}

.line-2.line-back {
    stroke: #a71916;
}

.line-3 {
    stroke: #ffeb13;
}

.line-3.line-back {
    stroke: #aa9f17;
}

.line-4 {
    stroke: #a6529a;
}

.line-4.line-back {
    stroke: #90378c;
}

.c {
    fill: #273065;
    stroke: #1a1b36;
}

.c,
.d,
.e,
.f,
.k,
.u {
    stroke-miterlimit: 10;
}

.c,
.d,
.e,
.f,
.u,
.y {
    stroke-width: 5px;
}

.d {
    fill: #71160e;
    stroke: #280f10;
}

.e {
    fill: #8c6c15;
}

.e,
.u {
    stroke: #38321a;
}

.f {
    fill: #212021;
    stroke: #000;
}

.h {
    fill: #9b3015;
    stroke: #471d12;
}

.h,
.y {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.k,
.y {
    fill: none;
}

.k {
    stroke: #1d1d1b;
    stroke-width: 6px;
}

.l {
    fill: #d9c905;
}

.m {
    fill: #25378d;
}

.n {
    fill: #324d9c;
}

.o {
    fill: #a71916;
}

.p {
    fill: #e52320;
}

.q {
    fill: #aa9f17;
}

.r {
    fill: #ffeb13;
}

.s {
    fill: #90378c;
}

.t {
    fill: #a6529a;
}

.u {
    fill: #1d1d1b;
}

.v {
    fill: #5b5c64;
}

.w {
    fill: #292829;
}

.x {
    fill: #2f3038;
}

.y {
    stroke: #252526;
}

/* Swipe Task */

.card-swipe{
  grid-column: 2/3;
  grid-row:1/2;
  display:flex; 
  justify-content: center;
  align-content: center;
}

.wrapper1 {
  position: relative;
  width: 400px;
  height: 250px;
}

#reader {
  width: 100%;
  height: 300px;
}

#reader .top {
  position: relative;
  width: 100%;
  height: 125px;
  z-index: 100;
}

#reader .bottom {
  width: 100%;
  height: 75px;
}

#reader .lights {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.light {
  display: inline-block;
  width: 25px;
  height: 25px;
}

#card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  margin-top: -75px;
  width: 250px;
  height: 150px;
  transform: translateX(-125px);
}

#card.slide {
  transition: transform 1s;
}

body {
  background-color: #3d4a4a;
}

.wrapper1 {
  background-color: #414141;
  border: 4px solid #000;
}

#reader .top,
#reader .bottom {
  background-color: #adadad;
  border: 4px solid #000;
}

#reader .top {
  width: calc(100% + 8px);
  padding: 16px;
  margin: -4px 0 0 -3px;
}

#reader .top:before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 12px;
  width: 140px; 
  height: 10px; 
  background-color: #000;
}

#reader .top:after {
  content: "";
  position: absolute;
  left: 150px;
  bottom: 12px;
  width: 0; 
  height: 0; 
  border-bottom: 30px solid #000;
  border-right: 60px solid transparent;
}

#reader .bottom {
  width: calc(100% + 8px);
  margin: 10px 0 0 -4px;
  border-top-left-radius: 30px;
  box-shadow: inset -6px -6px #555555,
              inset 6px 6px #555555,
              0 30px rgba(0, 0, 0, 0.1);
}

#reader .screen {
  border: 4px solid #000;
  padding: 4px;
  margin: 0 12px;
  background-color: #164a38;
}

#message {
  font-family: 'DSEG14Classic', sans-serif;
  font-size: 20px;
  color: #c5d6d0;
  text-transform: uppercase;
  animation: jitter 3s infinite steps(2);
}

#message:after {
  content: "Please swipe card";
}

[data-status="invalid"] #message:after {
  content: "Bad read. Try again.";
}

[data-status="slow"] #message:after {
  content: "Too slow. Try again.";
}

[data-status="fast"] #message:after {
  content: "Too fast. Try again.";
}

[data-status="valid"] #message:after {
  content: "Accepted. Thank you.";
}

.light {
  border: 4px solid #000;
  border-radius: 50%;
  box-shadow: 0 4px #555555;
  filter: saturate(0.6) brightness(0.7);
}

.red {
  background-color: #f52818;
}

.green {
  background-color: #3dd022;
}

[data-status="invalid"] .red,
[data-status="slow"] .red,
[data-status="fast"] .red,
[data-status="valid"] .green {
  filter: none;
}

#card {
  background-image: url("https://lh3.googleusercontent.com/WgXxWgI9NMY2L3gqBQ5kGsYbMWy16cYXqmMyjzXkEngTp1yj65ntC8QcKbW_rERoL-2XEk5Nc8XOwhB3hd8lwC6wR26LRX3dxl8uA3kzZHfRPmqLX2e-b3cZqHiJiCXjRzwxl2Iykg=w490-h315-p-k");
  background-size:100% 100%
/*   background-color: #dfdfdf;
  border: 2px solid #7f7f7f;
  border-radius: 15px;
  cursor: grab; */
}

.photo {
  position: relative;
  top:10px;
  left:5px;
  width: 70px;
  height: 83px;
  background-color: #aeaeae;
  border: 2px solid #292929;
  margin-left: 16px;
  overflow: hidden;
  pointer-events: none;
  border-radius: 15px;
}

.photo:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 85px;
  background-color: purple;
  border: 2px solid #424242;
  border-bottom-width: 0;
  border-radius: 30px 40px 5px 10px / 45px 60px 0 0;
  box-shadow: inset -3px -3px 0 3px rgba(0, 0, 0, 0.1);
}

.photo:after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 45px;
  width: 30px;
  height: 15px;
  background-color: #a6a6a6;
  border: 2px solid #434343;
  border-radius: 4px 6px 4px 4px;
  box-shadow: inset 1px 3px 0 rgba(255, 255, 255, 0.6),
              4px 4px 0 rgba(0, 0, 0, 0.1);
}



@keyframes jitter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5px);
  }
}

/* _________________________________________________________________________________________________ */
/* finding imposter */
.final-step{
  grid-column: 3/4;
  grid-row: 1/2;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

#crew1{
  background-color: transparent;
  background-image: url("https://i.imgflip.com/4h9r81.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2);
}

#crew2{
  background-color: transparent;
  background-image: url("https://i.imgflip.com/5totxn.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2);
}

#crew3{
  background-color: transparent;
  background-image: url("https://i.imgur.com/rczyCwe.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(3);
}

#crew4{
  background-color: transparent;
  background-image: url("https://i.imgflip.com/5toxst.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2);
}

#impostor1{
  background-color: transparent;
  background-image: url("https://pngroyale.com/wp-content/uploads/2021/12/Download-free-among-us-cyan-witch-hat-png-PNG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2.5);
  bottom: 5px;
}

#crew6{
  background-color: transparent;
  background-image: url("https://bracketfights.com/images/templates/2019/9171/among-us-9171/8whitepng.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2);
}

#crew7{
  background-color: transparent;
  background-image: url("https://i.imgflip.com/4gb4y7.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2);
}

#crew8{
  background: transparent;
  background-image: url("https://i.imgflip.com/4pwfyt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2);
}

#crew9{
  background-color: transparent;
  background-image: url("https://i.imgflip.com/4ql5kt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  background-attachment: fixed;
  transform: scale(2);
}

.crew{
  position:relative;
  top:30px
}

.impostor{
  position:relative;
  top:30px
}

.game-ending{
  grid-column: 3/4;
  grid-row: 1/2;
  display:flex;
  justify-content: center;
  align-content: center;
}

/* Return Button */
.returnButton{
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin:0px;
  padding: 0px;
  width:20%;
  max-width: 20%;
  height: 20%;
  max-height: 20%;
  background: #0068d6;
}

.return{
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}


.return2{
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}

.returnButton2{
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin:0px;
  padding: 0px;
  width:20%;
  max-width: 20%;
  height: 20%;
  max-height: 20%;
  background: #760505;
}

